.ui-new-list {
  margin: 5% 20%;
  /* border: 1px solid black; */
  height: 480px;
  filter: blur(8px);
}
.head-container {
  /* border: 1px solid black; */
  height: 100px;
}
.title {
  display: inline-block;
}
.left-title {
  float: left;
  margin-top: -40px;
  margin-left: 20px;
  font-size: 60px;
  color: rgb(63, 54, 54);
}
.right-title {
  margin-top: 45px;
  margin-right: 20px;
  float: right;
}
.add {
  display: inline-block;
}

.circle {
  border-radius: 50%;
  background-color: rgb(243, 19, 19);
  border: none;
  width: 40px;
  height: 40px;
}
.ver {
  border-left: 2px solid white;
  border-radius: 10px;
  position: relative;
  height: 20px;
  width: 0px;
  padding: 0px;
  margin: 0px;
  left: 19px;
  bottom: 30px;
}
.hor {
  border-bottom: 2px solid white;
  border-radius: 10px;
  position: relative;
  width: 20px;
  padding: 0px;
  margin: 0px;
  left: 10px;
  bottom: 41px;
}
.add-text {
  margin-left: 13px;
  position: relative;
  top: -30px;
  font-size: 32px;
  font-weight: 100;
  color: grey;
}
.cards-container {
  position: relative;
  top: -60px;
  /* border: 1px solid black; */
  height: 400px;
  width: 795px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.cards {
  margin-top: 30px;
  border: 1px solid #f52e27;
  height: 330px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #d6d0d0;
}
.card1 {
  margin-left: 20px;
}

.task-title {
  font-size: 30px;
  margin-bottom: 15px;
  color: #f52e27;
  font-weight: lighter;
}
.line {
  border: none;
  border-top: 1px solid grey;
  margin-left: 30px;
}
.task-body {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 23px;
  /* font-weight: 400; */
  color: #f52e27;
  text-decoration-line: line-through;
}
.check {
  text-align: left;
  font-size: 23px;
  padding-left: 10px;
}
.check-box {
  transform: scale(1.5);
  position: relative;
  top: -1px;
}
.new-list {
  color: #f52e27;
  font-size: 20px;
  text-align: center;
  border: 1px solid #f52e27;
  border-radius: 10px;
  background-color: white;
  height: 180px;
  width: 350px;
  padding: 15px;
  line-height: 50px;
  position: absolute;
  top: 200px;
  left: 480px;
  box-shadow: 10px 10px 10px #d6d0d0;
}
.input {
  border-radius: 3px;
  /* color: white; */
}
.list {
  transform: scaleX(1.7) scaleY(2);
  border: thin solid #f52e27;
  box-shadow: 2px 2px 3px #d6d0d0;
}
.btn {
  margin-top: 30px;
  transform: scale(1.5);
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #f52e27;
  padding: 5px 15px;
}