.ui-trip {
    text-align: center;
    padding-top: 30px;
  }
  .title-trip {
    /* text-decoration: line-through; */
    font-size: 60px;
    font-weight: bolder;
  }
  .title-trip-space {
    text-decoration: line-through;
    font-weight: 100;
    color: gray;
  }
  .back {
    /* border: 1px solid black; */
    display: inline-block;
  }
  .back-logo-circle {
    border-radius: 50%;
    background-color: rgb(243, 19, 19);
    border: none;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  .arrow {
    position: relative;
    top: 10px;
    left: 11px;
  }
  .top-arrow {
    border-bottom: 2px solid white;
    border-radius: 10px;
    width: 12px;
    transform: rotate(-45deg);
    position: relative;
    top: 4px;
  }
  .straight-arrow {
    border-bottom: 2px solid white;
    border-radius: 10px;
    width: 17px;
    position: relative;
    top: 6px;
    left: 1px;
  }
  .bottom-arrow {
    border-bottom: 2px solid white;
    border-radius: 10px;
    /* height: 20px; */
    width: 12px;
    transform: rotate(-135deg);
    position: relative;
    top: 8px;
    left: 0px;
  }
  .back-text {
    color: gray;
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    top: -10px;
    left: 15px;
  }
  .card-trip {
    display: inline-block;
    padding-left: 100px;
    width: 350px;
    height: 400px;
    /* padding-right: 100px; */
  }
  .cards {
    margin-top: 30px;
    border: 1px solid #f52e27;
    height: 330px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #d6d0d0;
  }
  .card1 {
    margin-left: 20px;
  }
  .task-title {
    font-size: 30px;
    margin-bottom: 15px;
    color: #f52e27;
    font-weight: lighter;
  }
  .task-title-trip {
    position: relative;
    left: -65px;
    font-weight: 400;
  }
  .task-body-trip {
    position: relative;
    left: -60px;
    font-weight: 700;
  }
  .task-body {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 23px;
    /* font-weight: 400; */
    color: #f52e27;
    text-decoration-line: line-through;
  }
  .add {
    display: inline-block;
    padding-right: 30px;
  }
  .check-box {
    transform: scale(1.5);
    position: relative;
    top: -1px;
  }
  .add-logo-trip {
    position: relative;
    left: 190px;
    bottom: 70px;
  }
  .circle {
    border-radius: 50%;
    background-color: rgb(243, 19, 19);
    border: none;
    width: 40px;
    height: 40px;
  }
  .ver {
    border-left: 2px solid white;
    border-radius: 10px;
    position: relative;
    height: 20px;
    width: 0px;
    padding: 0px;
    margin: 0px;
    left: 19px;
    bottom: 30px;
  }
  .hor {
    border-bottom: 2px solid white;
    border-radius: 10px;
    position: relative;
    width: 20px;
    padding: 0px;
    margin: 0px;
    left: 10px;
    bottom: 41px;
  }
  .check {
    text-align: left;
    font-size: 23px;
    padding-left: 10px;
  }
  .line {
    border: none;
    border-top: 1px solid grey;
    margin-left: 30px;
  }